/ProyectoTrasversalJava/nbproject/private/
/ProyectoTrasversalJava/build/
/ProyectoTrasversalJava/nbbuild/
/ProyectoTrasversalJava/dist/
/ProyectoTrasversalJava/nbdist/
/ProyectoTrasversalJava/.nb-gradle/
